<li>
  <a href="mailto:{{ site.author.email }}" title="email">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="{{ site.social.blog }}" title="{{ site.social.default_txt }} kssim's Blog">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bold fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="https://github.com/{{ site.social.github }}" title="{{ site.social.default_txt }} GitHub">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="{{ site.social.linkedin }}" title="{{ site.social.default_txt }} LinkedIn">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="{{ site.social.slideshare }}" title="{{ site.social.default_txt }} Slideshare">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-slideshare fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
